
.container-fluid {
    background-color: #F9F9F9;
    font-family: "Century Gothic", sans-serif;
    width:100%;
}
.header{
    background-color: #214742;
    padding:5px;
    margin-left: -15px;
    margin-right: -15px;
}
.presentation {
    background-color: #326670;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.main-text{
    color: #132824;
    position: absolute;
    top: 90px;
    right: 70px;
    font-size: 20pt;
    text-align: right;
    width: 500px;
    font-weight: bold;
}
.try-text {
    text-align: center;
    margin-top: 20px;
    font-size: 16pt;
}
.try-zone{
    padding-top: 10px;
    /*padding-bottom: 70px;*/
}
.try-zone-main{
    margin-top: 30px;
    margin-bottom: 20px;
}
.statistics {
    background-color:  #F0EEEB;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px -10px 0px -15px;
}
.disc{
    margin-left: 35px;
}
.circle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*.circle-text {*/
/*    position: absolute;*/
/*    top:50px;*/
/*    left:5px;*/
/*    font-size: 15pt;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*}*/
/*.circle-text p {*/
/*    font-size: 40pt;*/
/*    margin: 0;*/
/*    text-align: center;*/
/*}*/
.contact-form__input{
    width: 500px;
    height: 55px;
    margin:10px;
    border-radius: 3px;
}
.contact-form__label--checkbox-group {
    margin: 0;
}
.contact-form__level_zero{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: column;
}
.contact-form__level_check{
    margin-left: 10px;

}
.contact-form__level_one{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: column;
    /*display: none;*/
}
.contact-form__level_two {
    /*display: none;*/
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: column;
}
.contact-form__label{
    margin-left:12px;
}
.submit {
    display: flex;
    justify-content: center;

}
.contact-form__button{
    width: 350px;
    height: 50px;
    border-radius: 3px;
    margin-top: 30px;
    background-color: #214742;
    color: ivory;
    margin-left: 100px;
    font-size: 18px;

}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}
.pic {
    width: 100%;
    height: 350px;
}
.around {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-text {
   margin-top: 15px;
    font-size: 15pt;
}
.img{
    margin-left: 10px;
}
.label {
    font-size: 15pt;
}

/* For mobile phones: */
/*[class*="col-"] {*/
/*    width: 100%;*/
/*}*/


@media only screen and (max-width: 768px) {
    .try-zone {
        padding-bottom: 10px;
    }
    .submit-button {
        margin-top: 0;
    }
    .circle {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
