body{
    margin-bottom: 50px;
}
html{
    position: relative;
    min-height: 100%;
}
.container {
    background-color: #F9F9F9;
    font-family: "Century Gothic", sans-serif;
}
.header{
    background-color: #214742;
    padding:5px;
    margin-left: -15px;
    margin-right: -15px;
    height: 50px;
}
.main_article{
    text-align: center;
    font-size: 25px;
}
.article{
    font-size: 25px;
}
.info{
    font-size: 20px;
}
.footers{
    background-color: #214742;
    position: absolute;
    padding:5px;
    margin-left: -15px;
    margin-right: -15px;
    height: 50px;
}