<!DOCTYPE html>

<html lang="ru">
    <head>
        <title>Test</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="117459218308-8j3sfsjqr49ae3qj71ur8t1q809kt6mq.apps.googleusercontent.com">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  
    <title>Title</title>

    <style>
        body{
            margin-bottom: 50px;
            height: 100%;
        }
        html{
            position: relative;
            height: 100%;
        }
        .container {
            background-color: #F9F9F9;
            font-family: "Century Gothic", sans-serif;
            height: 100%;
        }
        .wrapper{
             padding-bottom: 90px;
            min-height: 100%;
        }
        .header{
            background-color: #214742;
            padding:5px;
            margin-left: -15px;
            margin-right: -15px;
            height: 50px;
        }
        .main_article{
            text-align: center;
            font-size: 18px;
        }
        .article{
            font-size: 18px;
        }
        .info{
            font-size: 16px;
            margin-left: 20px;
        }
        .footers{
            background-color: #214742;
            position: absolute;
            padding:5px;
            margin-left: -15px;
            margin-right: -15px;
            height: 50px;
        }
        .statistics {
            background-color:  #F0EEEB;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: -152px -10px 0px -15px;
        }
        .disc{
            margin-left: 35px;
        }

    </style>

    </head>

    <body>
        <div class="container">

            <div class="header">
            </div>
            <div class="wrapper">
                    <div class="row">
                    <div class="col-sm-12">
                        <hr/>
                        <p class="main_article"><strong>Отчет по мерам господдержки</strong></p>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="article">Доступные меры государственной поддержки</p>
                    </div>
                </div>
                {% for item in subventions %}
                <div class="row">
                    <div class="col-sm-12">
                        <p class="info">{{item.title}}</p>
                        <a class="info" href="{{item.link}}">Посмотреть документ</a>
                        <p class="info">Регион: {{item.region_name}}</p>
                        {% for criteria in item.criteries %}
                        <p class="info">Требования:<br> {{criteria}}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="statistics">
                        <div class="row">
                            <p class="disc">Информация, представленная на сайте, не гарантирует получение меры господдержки и не заменяет юридической консультации при оформлении документов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>